# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Testing and Linting
.pytest_cache/
.ruff_cache/

# VS Code / IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
